# Created by .gitignore support plugin (hsz.mobi)

.idea
.idea/**
ratchet/.sass-cache
ratchet/.sass-cache/**
css/compass/.sass-cache
css/compass/.sass-cache/**
js/app.js
css/.sass-cache
css/.sass-cache/**