@import "compass";
html{width: 100%;}
body{
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  background-color: inherit;
  position: absolute;
  min-height: 640px;
}
button, input, select, textarea {
  font-family: "Quicksand", sans-serif;
}
.content{
  background-color: rgb(208,228,247);
  @include filter-gradient(#d0e4f7, #87bcea, horizontal);
  @include background-image(linear-gradient(left top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(80,152,211,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%));


}
.more-actions * {
  margin-top: 10px;
}
.bar-nav~.content{
  padding: 54px 10px 10px 10px;
}
a{
  color:#003ED0
}
.fb-wrapper {
  margin-top: -10px;margin-bottom: 24px;
}
div.details >div {
  padding: 5px 0px;
}
ul {
  clear: both
}
.title{
  font-weight: 600;
}
#loading{
  background: url("../../../img/spinner-blue.gif") no-repeat 50%;
  width: 100%;
  min-height: 50px;
  position: relative;
  top: 150px;
  background-size: 50px;
}
.content {
//  position: absolute;
}
select{
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}
.w90{width:90%}
.bar-header-secondary > input {
  margin-top: 6px;
  height: 31px;
}

.details {
  margin: auto;
  > img {
    float: left;
    margin: 10px;
    width: 80px;
    height: 80px;
  }
  h1 {
    padding-top: 16px;
    font-size: 18px;
  }
}

.home .table-view {
  margin: 0 !important;
  border: none;
}

.media-object {
  width: 42px;
  height: 42px;
}

.icon-call {
  background: transparent url(../../images/ic_action_phone_outgoing.png);
  background-repeat: no-repeat;
}

.icon-sms {
  background: transparent url(../../images/ic_action_dialog.png);
  background-repeat: no-repeat;
}

.icon-mail {
  background: transparent url(../../images/ic_action_mail.png);
  background-repeat: no-repeat;
}

.icon-manager {
  background: transparent url(../../images/ic_action_user.png);
  background-repeat: no-repeat;
}

.icon-reports {
  background: transparent url(../../images/ic_action_users.png);
  background-repeat: no-repeat;
}

.icon-contact {
  background: transparent url(../../images/ic_action_add.png);
  background-repeat: no-repeat;
}

.icon-location {
  background: transparent url(../../images/ic_action_location.png);
  background-repeat: no-repeat;
}

.text-center {
  text-align: center;
}

.padding-row {
  width: 100%;
  height: 15px;
}

.inset {
  padding: 3px 3%;
}

.bar {
  border-bottom: none;
}

.cap {
  text-transform: capitalize;
}

header.bar {
  background: url("../../../img/top.png")  center no-repeat;
  background-size: 100% 100%;
}
ul:empty{
  border: none;}