/* line 2, ../sass/styles.scss */
html {
  width: 100%;
}

/* line 3, ../sass/styles.scss */
body {
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  background-color: inherit;
  position: absolute;
  min-height: 100%;
}

/* line 10, ../sass/styles.scss */
button, input, select, textarea {
  font-family: "Quicksand", sans-serif;
}

/* line 13, ../sass/styles.scss */
.content {
  background-color: #d0e4f7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFD0E4F7', endColorstr='#FF87BCEA');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZTRmNyIvPjxzdG9wIG9mZnNldD0iMjQlIiBzdG9wLWNvbG9yPSIjNzNiMWU3Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM1MDk4ZDMiLz48c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzUzOWZlMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg3YmNlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #d0e4f7), color-stop(24%, #73b1e7), color-stop(50%, #5098d3), color-stop(79%, #539fe1), color-stop(100%, #87bcea));
  background-image: -moz-linear-gradient(left top, #d0e4f7 0%, #73b1e7 24%, #5098d3 50%, #539fe1 79%, #87bcea 100%);
  background-image: -webkit-linear-gradient(left top, #d0e4f7 0%, #73b1e7 24%, #5098d3 50%, #539fe1 79%, #87bcea 100%);
  background-image: linear-gradient(to right bottom, #d0e4f7 0%, #73b1e7 24%, #5098d3 50%, #539fe1 79%, #87bcea 100%);
}

/* line 20, ../sass/styles.scss */
.more-actions * {
  margin-top: 10px;
}

/* line 23, ../sass/styles.scss */
.bar-nav ~ .content {
  padding: 54px 10px 10px 10px;
}

/* line 26, ../sass/styles.scss */
a {
  color: #003ED0;
}

/* line 29, ../sass/styles.scss */
p {
  color: #fff;
}

/* line 32, ../sass/styles.scss */
.fb-wrapper {
  margin-top: -10px;
  margin-bottom: 24px;
}

/* line 35, ../sass/styles.scss */
div.details > div {
  padding: 5px 0px;
}

/* line 38, ../sass/styles.scss */
ul {
  clear: both;
}

/* line 41, ../sass/styles.scss */
.title {
  font-weight: 600;
}

/* line 44, ../sass/styles.scss */
#loading {
  background: url("../../../img/spinner-blue.gif") no-repeat 50%;
  width: 100%;
  min-height: 50px;
  position: relative;
  top: 150px;
  background-size: 50px;
}

/* line 55, ../sass/styles.scss */
select {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

/* line 59, ../sass/styles.scss */
.w90 {
  width: 90%;
}

/* line 60, ../sass/styles.scss */
.bar-header-secondary > input {
  margin-top: 6px;
  height: 31px;
}

/* line 65, ../sass/styles.scss */
.details {
  margin: auto;
}
/* line 67, ../sass/styles.scss */
.details > img {
  float: left;
  margin: 10px;
  width: 80px;
  height: 80px;
}
/* line 73, ../sass/styles.scss */
.details h1 {
  padding-top: 16px;
  font-size: 18px;
}

/* line 79, ../sass/styles.scss */
.home .table-view {
  margin: 0 !important;
  border: none;
}

/* line 84, ../sass/styles.scss */
.media-object {
  width: 42px;
  height: 42px;
}

/* line 89, ../sass/styles.scss */
.icon-call {
  background: transparent url(../../images/ic_action_phone_outgoing.png);
  background-repeat: no-repeat;
}

/* line 94, ../sass/styles.scss */
.icon-sms {
  background: transparent url(../../images/ic_action_dialog.png);
  background-repeat: no-repeat;
}

/* line 99, ../sass/styles.scss */
.icon-mail {
  background: transparent url(../../images/ic_action_mail.png);
  background-repeat: no-repeat;
}

/* line 104, ../sass/styles.scss */
.icon-manager {
  background: transparent url(../../images/ic_action_user.png);
  background-repeat: no-repeat;
}

/* line 109, ../sass/styles.scss */
.icon-reports {
  background: transparent url(../../images/ic_action_users.png);
  background-repeat: no-repeat;
}

/* line 114, ../sass/styles.scss */
.icon-contact {
  background: transparent url(../../images/ic_action_add.png);
  background-repeat: no-repeat;
}

/* line 119, ../sass/styles.scss */
.icon-location {
  background: transparent url(../../images/ic_action_location.png);
  background-repeat: no-repeat;
}

/* line 124, ../sass/styles.scss */
.text-center {
  text-align: center;
}

/* line 128, ../sass/styles.scss */
.padding-row {
  width: 100%;
  height: 15px;
}

/* line 133, ../sass/styles.scss */
.inset {
  padding: 3px 3%;
}

/* line 137, ../sass/styles.scss */
.bar {
  border-bottom: none;
}

/* line 141, ../sass/styles.scss */
.cap {
  text-transform: capitalize;
}

/* line 145, ../sass/styles.scss */
header.bar {
  background: url("../../../img/top.png") center no-repeat;
  background-size: 100% 100%;
}

/* line 149, ../sass/styles.scss */
ul:empty {
  border: none;
}

/* line 151, ../sass/styles.scss */
.hidden {
  display: none;
}

/* line 152, ../sass/styles.scss */
.pointer {
  cursor: pointer;
}

/* fix ratchet */
/* line 154, ../sass/styles.scss */
header.bar.bar-nav {
  -webkit-transform: translateZ(0);
}

/* end fix ratchet */
