<header class="bar bar-nav">
    <a class="btn btn-link btn-nav pull-left btn-back" href="#">
        <span class="icon icon-left-nav"></span>
        Back
    </a>

    <h1 class="title">Drug Details</h1>
</header>
<div class='content text-center'>
    <div class="padding-row"></div>
    <div class="details" id="drug-name">
        <div><%= full_name %></div>
        <input type="hidden" id="drug_id" value="<%= id %>">
        <input type="hidden" id="rxcui" value="<%= rxcui %>">
    </div>
    <div class="padding-row"></div>
    <div class="inset">
        <label for="plan-select">Select Health Plan</label>
        <div class="padding-row"></div>
        <input id="plan-select" class='search-key' type="text"/>
        <div id="plan-list" class="dropdown"></div>
        <button class="btn btn-positive" onclick="app.router.home();">Select Another Drug</button>
    </div>
    <div class="footer">
        For any questions or comments, please
        <a href="mailto:ceo@usvsolutions.com" target="_blank"> contact our team</a>
    </div>
</div>
