<% if (typeof drug_name === 'undefined') {
    drug_name = ''
    }
%>

<header class="bar bar-nav">
    <a class="btn btn-link btn-nav pull-left btn-back">
        <span class="icon icon-left-nav"></span>
        Back
    </a>

    <h1 class="title">Formulary Details</h1>
    <script>
        if (isInWeb) {
            (function (doc, script) {
                var js,
                    fjs = doc.getElementsByTagName(script)[0],
                    frag = doc.createDocumentFragment(),
                    add = function (url, id) {
                        if (doc.getElementById(id)) {
                            return;
                        }
                        js = doc.createElement(script);
                        js.src = url;
                        id && (js.id = id);
                        frag.appendChild(js);
                    };

                // Twitter SDK
                add('https://platform.twitter.com/widgets.js');

                fjs.parentNode.insertBefore(frag, fjs);
            }(document, 'script'));
        }
    </script>
</header>
<% if (typeof restriction_code == 'undefined' || restriction_code == "") { restriction_code = "No information yet"; }
    if (typeof tier_level_value == 'undefined') { tier_level_value = "No information yet"; }
%>

<div id="disclaimerModal" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right close"></a>

        <h1 class="title">Disclaimer</h1>
    </header>

    <div class="content">
        <p class="content-padded">
            The contents of the FormularyMedical.com website and the FormularyMedical app, such as text, graphics,
            images, and other material contained on the FormularyMedical.com website and FormularyMedical app
            ("Content") are for informational purposes only. The Content is not intended to be a substitute for
            professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other
            qualified health provider with any questions you may have regarding a medical condition. Never disregard
            professional medical advice or delay in seeking it because of something you have read on the
            FormularyMedical website or FormularyMedical app!
        </p>
    </div>
</div>
<div id="restrictionModal" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right close"></a>

        <h1 class="title">Formulary Restrictions</h1>
    </header>

    <div class="content">
        <p class="content-padded">
            <ul class="table-view">
                <li class="table-view-cell media">
                    <a class="">
                        <div class="media-body">
                            PA - Prior Authorization
        <p>Drugs that require prior authorization. This restriction requires that specific clinical
            criteria be met prior to the approval of the prescription.</p>
    </div>
    </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                QL - Quantity Limits
                <p>Drugs that have quantity limits associated with each prescription. This restriction typically
                    limits the quantity of drug that will be covered.</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                ST - Step Therapy
                <p>Drugs that have step therapy associated with each prescription. This restriction typically
                    requires that certain criteria be met prior to approval for the prescription.</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                OR - Other Restrictions
                <p>Drugs that have restrictions other than prior authorization, quantity limits, and step
                    therapy associated with each prescription.</p>
            </div>
        </a>
    </li>
    </ul>
</div>
</div>
<div id="tierCodeModal" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right close"></a>

        <h1 class="title">Tier Codes</h1>
    </header>

    <div class="content">
        <p class="content-padded">
            <ul class="table-view">
                <li class="table-view-cell media">
                    <a class="">
                        <div class="media-body">
                            1
        <p>Tier 1 usually includes generic medications</p>
    </div>
    </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                2
                <p>Tier 2 usually includes preferred brand name medications</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                3
                <p>Tier 3 usually includes non-preferred brand name medications</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                4
                <p>Tier 4 usually includes specialty medications (3-Tier programs do not have a unique tier for
                    specialty medications)</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                3P
                <p>Preferred – This drug is available at a preferred co-pay. Most commonly used when Tiers 1 and
                    2 apply to preferred generic and non-preferred generic drugs, respectively</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                5
                <p>This drug is available at a higher level co-pay. Most commonly, these are "non-preferred"
                    brand drugs or specialty prescription products</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                6
                <p>This drug is available at a higher level co-pay. Most commonly, these are "non-preferred"
                    brand drugs or specialty prescription products</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                7
                <p>This drug is available at a higher level co-pay. Most commonly, these are "non-preferred"
                    brand drugs or specialty prescription products</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                NC
                <p>Not Covered: Drug is not covered by the selected plan</p>
            </div>
        </a>
    </li>
    <li class="table-view-cell media">
        <a class="">
            <div class="media-body">
                NA
                <p>Not Available: Formulary data for this drug together with this health plan are not available
                    at this moment</p>
            </div>
        </a>
    </li>
    </ul>
</div>
</div>

<div class='content text-center'>
    <div class="padding-row"></div>
    <div class="details">
        <h4 id="drug-name"><%= drug_full_name %>
            <span
                    class="pointer icon icon-edit"></span></h4>

        <div id="drug-select-wrap" class="inset hidden">
            <input id="drug-select" class='search-key' type="text"/>

            <div id="drug-list"></div>
        </div>
        <div id="current-plan">
            <span id="plan-name"><%= contract_name %> | <%= plan_name %></span>
            <span class="pointer icon icon-edit"></span>
            <% if (plan_url !== "") {%>
            <span href="<%= plan_url %>" onclick="app.utils.misc.applyInAppBrowser('<%= plan_url %>')"><span
                    class="icon icon-download"></span></span>
            <% } %>
        </div>
        <div id="plan-select-wrap" class="hidden">
            <input id="plan-select" class='search-key' type="text"/>

            <div id="plan-list"></div>
        </div>
        <div id="result">
            <div>Tier: <%= tier_level_value %>
                <span data-target="tierCodeModal" class="icon icon-info modal-js"></span>
            </div>
            <div>Contract Year: <%= contract_year %>
            <div>Prior Authorization: <%= (prior_authorization_yn == 1?'Y':'N')  %>
            <div>Step Therapy: <%= (step_therapy_yn == 1?'Y':'N')  %>
            </div>
        </div>
    </div>
    <div class="padding-row"></div>
    <div class="more-actions">
        <button class="btn cordova-only"
                onclick="navigator.share({ title:'Formulary for your drug <%= drug_name %>'
                , text:'Tier Code: <%= tier_level_value %>\r\n Plan: <%= plan_name %> \r\n ' +
                 'Restriction Code: <%= restriction_code %>' +
                  'Get the app at: https://formularymedical.com '
                })">
            <span class="icon "></span>
            Share
        </button>
        <div class="non-cordova-only">
            <button class="btn"
                    onclick='window.open("mailto:?subject=Formulary for your drug <%= drug_full_name %>&body=Tier Code: <%= tier_level_value %>%0D%0A Plan: <%= plan_name %> %0D%0A Restriction Code: <%= restriction_code %> %0D%0A ");'>
                Email Result
            </button>
            <div><a target="_blank" href="https://twitter.com/share" class="twitter-share-button"
                    data-url="http://formularymedical.com/" data-text="I found an awesome Formulary LookupApp"
                    data-size="large" data-hashtags="medical app formulary lookup iphone ipad">Share on Twitter</a>
            </div>

            <div class="fb-wrapper">
                <div class="fb-share-button" data-href="https://formularymedical.com" data-layout="button_count"></div>
            </div>
        </div>

    </div>
    <br/><br/><br/>
    <a class="modal-js" data-target="disclaimerModal">Disclaimer</a>

</div>
<div class="footer">
    For any questions or comments, please
    <a href="mailto:ceo@usvsolutions.com" target="_blank"> contact our team</a>
</div>
